.react-tabs-wrapper {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 18% 82%;
  gap: 72px;
}
.react-menu h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 21px;
  padding-bottom: 30px;
}
.sidebar svg {
  display: none;
}
.lists {
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
  border-bottom: 1px solid #efefef;
  padding-bottom: 13px;
  margin-top: 16px;
  cursor: pointer;
}
.lists.active {
  color: #ffa723;
}
.lists:hover {
  transform: scale(0.9);
}
.category {
  display: flex;
  flex-direction: column;
}
.category svg {
  display: none;
}
.react-panel > h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #666666;
}
.react-panel-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
  padding-top: 35px;
}
.react-panel-card {
  background: #f6f6f7;
  border-radius: 14.8387px;
  padding: 28px 13px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 270px;
  cursor: pointer;
  position: relative;
}
.react-panel-card:hover .card-hover {
  left: 0;
  transform: scale(1);
}
.react-panel-card img {
  width: 75%;
}
.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-text h1 {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #666666;
  padding: 10px 5px;
}
.card-text span {
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  color: #ff9900;
}
.card-hover {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ffa723;
  border-radius: 14.8387px;
  position: absolute;
  left: -50px;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}
.card-hover h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ffa723;
  padding-bottom: 10px;
}
/* Modal */
.modal-form {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.modal-body {
  width: 325px;
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-body input {
  width: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #b7a8a8;
  background: #ffffff;
  box-shadow: 0px 4px 47px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px 45px;
  border: none;
  margin: 8px 0;
}
.modal-body input:focus {
  outline: 1px solid #ff9900;
}
.modal-body button {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  background: #ffa723;
  box-shadow: 0px 4px 18px rgba(255, 167, 35, 0.3);
  border-radius: 10px;
  border: none;
  padding: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.modal-body button:active {
  transform: scale(0.9);
}

@media (max-width: 1200px) {
  .react-tabs-wrapper {
    gap: 0;
  }
  .react-panel {
    padding-left: 40px;
  }
  .react-panel-card {
    height: 250px;
  }
  .card-text h1 {
    line-height: 12px;
  }
}
@media (max-width: 900px) {
  .react-panel-cards,
  .card-skeleton {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .react-tabs-wrapper {
    position: relative;
    grid-template-columns: 100%;
  }
  .react-menu h1 {
    padding-bottom: 0;
    font-size: 16px;
  }
  .sidebar {
    background: #edf9ff;
    border-radius: 105.691px;
    position: absolute;
    left: -120px;
    padding: 22px 30px 22px 100px;
    top: 60px;
    color: #10aaee;
  }
  .sidebar svg {
    display: block;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
  .category {
    background: #ffffff;
    box-shadow: 1px 4px 58px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    width: 60%;
    padding: 35px;
    height: 100vh;
    z-index: 10;
    transform: translateX(-110%);
  }
  .category svg {
    display: block;
    position: absolute;
    right: -20px;
    top: 36px;
    transform: rotate(180deg);
  }
  .category-mobile {
    transform: translateX(0);
  }
  .react-panel > h1 {
    font-size: 18px;
    line-height: 21px;
    color: #666666;
    text-align: end;
  }
  .react-panel {
    padding-left: 0;
  }
  .react-panel-cards,
  .card-skeleton {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 70px;
  }
}
@media (max-width: 400px) {
  .react-panel-card {
    height: 220px;
  }
}
